body {
    margin: 0;
    background-color: #000;
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.geniuz {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 40px;
    border: 1px solid #000;
    background-color: #000;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    background-color: blue;
    grid-area: azul;
    border-bottom-right-radius: 100%;
}

.red {
    background-color: red;
    grid-area: vermelho;
    border-top-right-radius: 100%;
}

.yellow {
    background-color: yellow;
    grid-area: amarelo;
    border-bottom-left-radius: 100%;
}

.green {
    background-color: green;
    grid-area: verde;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.4;
}

.menu {
    width: 250px;
    height: 250px;
    background-color: #000;
    border-radius: 100%;
    position: fixed;
    text-align: center;
    padding: 20px;
    color: #fff;
    z-index: 2;
}

.menu .btn {
    width: 100px;
    height: 40px;
    margin-top: 50px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.menu .btn:hover {
    background-color: #5bb6fc;
    color: #fff;
}

/* Responsive */
@media screen and (max-width: 500px) {
    .geniuz {
        grid-gap: 30px;
        width: 350px;
        height: 350px;
    }

    .menu {
        width: 150px;
        height: 150px;
    }
    .menu .btn {
        margin-top: 20px;
    }
}